@font-face {
  font-family: "Averta Demo PE Cutted Demo";
  src: url("../font/averta_demo_pe_cutted_demo_regular.eot") format("embedded-opentype"), url("../font/averta_demo_pe_cutted_demo_regular.woff") format("woff"), url("../font/averta_demo_pe_cutted_demo_regular.woff") format("woff2"), url("../font/averta_demo_pe_cutted_demo_regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Averta Demo PE Cutted Demo", sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-bottom: 100rem;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

a {
  color: #000000;
  font-size: 1.6rem;
  line-height: 2rem;
  text-transform: capitalize;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a,
button {
  cursor: pointer;
}

p {
  text-transform: none;
}

ul,
ol {
  list-style: none;
}

.mrg-t-7 {
  margin-top: 7rem;
}

.title {
  font-size: 4rem;
  line-height: 4.9rem;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

.button {
  display: inline-block;
  color: #ffffff;
  background-color: #2639ED;
  letter-spacing: 0.065em;
  text-transform: capitalize;
  text-shadow: -0.5px 0 #ffffff, 0 0.5px #ffffff, 0.5px 0 #ffffff, 0 -0.5px #ffffff;
  padding: 2rem 4rem;
  border-radius: 60px;
}

.main-header {
  padding-top: 4.2rem;
  margin-bottom: 4rem;
}

.nav-link {
  text-shadow: -0.2px 0 #000000, 0 0.2px #000000, 0.2px 0 #000000, 0 -0.2px #000000;
}

.hero {
  margin-bottom: 13.6rem;
}
.hero__title {
  margin-bottom: 4rem;
  text-transform: capitalize;
}
.hero__img {
  max-width: 75.4rem;
  -webkit-transform: translate(3rem, 0px);
          transform: translate(3rem, 0px);
  border-radius: 0px 0px 0px 20rem;
}
.hero__info {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #565656;
  width: 95%;
  margin-bottom: 3.3rem;
}
.hero__button {
  font-size: 2rem;
  line-height: 2.5rem;
  position: relative;
}
.hero__button::before {
  content: "";
  position: absolute;
  background-size: 20px 20px;
  width: 40.4rem;
  height: 15.4rem;
  z-index: -1;
  top: 25px;
  left: -48px;
  background-image: -webkit-repeating-radial-gradient(center center, #F4F4F4, #F4F4F4 4px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, #F4F4F4, #F4F4F4 4px, transparent 1px, transparent 100%);
}

.img-wrapper {
  position: relative;
}
.img-wrapper::before, .img-wrapper::after {
  content: "";
  position: absolute;
}
.img-wrapper::before {
  width: 12.9rem;
  height: 12.9rem;
  background-color: #DAE9FF;
  border-radius: 50%;
  z-index: -1;
  top: 0px;
  left: -30px;
}
.img-wrapper::after {
  width: 17.8rem;
  height: 17.8rem;
  background-color: #FFF5DB;
  border-radius: 0px 0px 100px 0px;
  z-index: -1;
  bottom: -100px;
  right: 0px;
}

.clients {
  margin-bottom: 9.4rem;
}
.clients__title {
  margin-bottom: 1.7rem;
  text-transform: capitalize;
}
.clients__info {
  width: 90%;
  color: #757575;
  font-size: 1.8rem;
  line-height: 2.9rem;
}
.clients__item:not(:last-child) {
  margin: 0 2rem 2rem 0;
}

.help {
  margin-bottom: 14.6rem;
}
.help__title {
  margin-bottom: 3rem;
  position: relative;
}
.help__title::before {
  content: "";
  position: absolute;
  width: 17.8rem;
  height: 17.8rem;
  background-color: #FFF5DB;
  border-radius: 0px 0px 100px 0px;
  z-index: -1;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: -55px;
  left: -40px;
}
.help__info {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #565656;
  position: relative;
}
.help__info::before {
  content: "";
  position: absolute;
  background-size: 20px 20px;
  width: 40.4rem;
  height: 15.4rem;
  z-index: -1;
  top: 170px;
  left: -8px;
  background-image: -webkit-repeating-radial-gradient(center center, #E7F0FC, #E7F0FC 4px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, #E7F0FC, #E7F0FC 4px, transparent 1px, transparent 100%);
  z-index: -3;
}

.subtitle {
  color: #000000;
  font-size: 2.4rem;
  line-height: 3rem;
  text-transform: capitalize;
}

.cards {
  position: relative;
}
.cards::before, .cards::after {
  content: "";
  position: absolute;
}
.cards::before {
  top: 133px;
  left: -155px;
  width: 104.7rem;
  height: 61.9rem;
  background: #F4F9FF;
  border-radius: 150px 0px 0px 0px;
  z-index: -2;
}
.cards::after {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 8.8px solid #FF007A;
  bottom: 29px;
  right: 39px;
  z-index: -3;
}

.card {
  border: 1px solid #F2F2F2;
  -webkit-box-shadow: 0px 1rem 5rem rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1rem 5rem rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  border-radius: 40px;
  width: 30.8rem;
  height: 37.9rem;
  padding: 3.9rem 3rem 5.7rem;
  position: relative;
}
.card__icon {
  font-size: 7.4rem;
}
.card__icon_blue {
  color: #2639ED;
}
.card__icon_peach {
  color: #FF9900;
}
.card__icon_pink {
  color: #FF007A;
}
.card__icon_green {
  color: #00DA71;
}
.card__icon-box {
  width: 121px;
  height: 121px;
  border-radius: 20px;
  margin-bottom: 3.1rem;
}
.card__icon-box_blue {
  background-color: #F1F7FF;
}
.card__icon-box_peach {
  background-color: #FFF5DB;
}
.card__icon-box_pink {
  background-color: #FFF2F8;
}
.card__icon-box_green {
  background-color: #DEFFEE;
}
.card__subtitle {
  width: 80%;
  text-align: center;
  text-shadow: -0.3px 0 #000000, 0 0.3px #000000, 0.3px 0 #000000, 0 -0.3px #000000;
  margin-bottom: 2.7rem;
}
.card__info {
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
  color: #757575;
}

@media (max-width: 1199px) {
  .container {
    width: 960px;
  }

  html {
    font-size: 61%;
  }

  .hero__img {
    max-width: 60rem;
  }
}
@media (max-width: 991px) {
  .container {
    width: 720px;
  }

  html {
    font-size: 60%;
  }

  .hero {
    text-align: center;
  }
  .hero__info {
    margin: 0 auto 3.3rem;
  }

  .img-wrapper::before {
    left: 0px;
  }
  .img-wrapper::after {
    right: 5px;
  }

  .clients {
    margin-bottom: 8rem;
  }

  .clients__title,
  .help__title,
  .help__info {
    text-align: center;
  }

  .clients__info {
    margin: 0 auto;
    text-align: center;
  }

  .help__info {
    margin-bottom: 4rem;
  }
  .help__info::before {
    top: 92px;
  }

  .cards::before {
    width: 93rem;
  }
}
@media (max-width: 767px) {
  .container {
    width: 540px;
  }

  html {
    font-size: 59%;
  }

  .img-wrapper,
  .cards::before {
    display: none;
  }

  .hero {
    margin-bottom: 4rem;
  }

  .card {
    width: 27rem;
    height: 30rem;
    padding: 2rem 2rem 3rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card__icon {
    font-size: 5rem;
  }
  .card__subtitle {
    margin-bottom: 1rem;
  }
  .card__icon-box {
    width: 75px;
    height: 75px;
    margin-bottom: 1rem;
  }
}
@media (max-width: 575px) {
  .container {
    width: 100%;
  }

  html {
    font-size: 58%;
  }

  .nav {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: 0 auto;
  }
  .nav li {
    padding: 0.5rem 0.7rem;
  }

  .hero__button::before,
  .help__info::before {
    display: none;
  }

  .clients__item:not(:last-child) {
    margin: 0 0rem 3rem 0;
  }

  .help__title,
  .help__info {
    width: 90%;
    margin: 0 auto 2rem;
  }

  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards .flex-column {
    margin: 0 auto 2rem;
  }
  .cards::after {
    bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */