// VARIABLES AND MIXINS

$color-white: #ffffff
$color-grey: #F4F4F4
$color-grey-2: #F2F2F2
$color-grey-3: #E4E4E4
$color-input: #F1F1F1
$color-black: #000000

$color-font-1: #565656
$color-font-2: #757575
$color-font-3: #959595

$dark-blue: #2639ED
$light-blue-1: #DAE9FF
$light-blue-2: #E7F0FC
$light-blue-3: #F1F7FF
$light-blue-4: #F4F9FF
$light-blue-5: #EFF1FF
$light-blue-6: #DFEEFF

$dark-peach: #FF9900
$light-peach: #FFF5DB

$dark-pink: #FF007A
$light-pink: #FFF2F8

$dark-green: #00DA71
$light-green: #DEFFEE

$color-facebook: rgb(59, 89, 152)
$color-twitter: rgb(85, 172, 238)
$color-linkedin: rgb(0, 122, 185)

$mb-4: 4rem
$mb-5: 5rem
$mb-9: 9rem

@mixin font16-line2
    font-size: 1.6rem
    line-height: 2rem

@mixin font16-line26-color1
    font-size: 1.6rem
    line-height: 2.6rem
    color: $color-font-1

@mixin font18-line29-color2
    font-size: 1.8rem
    line-height: 2.9rem
    color: $color-font-2

@mixin font24-line30-black
    font-size: 2.4rem
    line-height: 3rem
    color: $color-black

@mixin content-position
    content: ""
    position: absolute

@mixin square-shape
    width: 17.8rem
    height: 17.8rem
    background-color: $light-peach
    border-radius: 0px 0px 100px 0px
    z-index: -1

@mixin round-shape
    width: 12.9rem
    height: 12.9rem
    background-color: $light-blue-1
    border-radius: 50%
    z-index: -1

@mixin round-shape-border
    width: 12rem
    height: 12rem
    border-radius: 50%
    border: 8.8px solid $dark-pink

@mixin dots-background
    -webkit-background-size: 20px 20px
    -moz-background-size: 20px 20px
    background-size: 20px 20px
    width: 40.5rem
    height: 15.4rem
    z-index: -1

// COMMON STYLES

@font-face
    font-family: "Averta Demo PE Cutted Demo"
    src: url("../font/averta_demo_pe_cutted_demo_regular.eot")format("embedded-opentype"), url("../font/averta_demo_pe_cutted_demo_regular.woff") format("woff"), url("../font/averta_demo_pe_cutted_demo_regular.woff") format("woff2"), url("../font/averta_demo_pe_cutted_demo_regular.ttf") format("truetype")
    font-weight: 400
    font-style: normal
    font-display: swap

*,
::after,
::before
    margin: 0
    padding: 0
    box-sizing: border-box

::-webkit-scrollbar
    width: 0

html
    font-size: 62.5%
    scroll-behavior: smooth

body
    font-family: "Averta Demo PE Cutted Demo", sans-serif
    font-weight: 400
    color: $color-black
    background-color: $color-white
    overflow-x: hidden
    padding-bottom: 6.2rem

img
    max-width: 100%
    height: auto

h1, h2, h3, h4, h5
    margin: 0

a
    @include font16-line2
    color: $color-black
    text-transform: capitalize
    text-decoration: none
    transition: .3s

a,
button
    cursor: pointer

p
    text-transform: none

ul,
ol
    list-style: none

.mrg-t-7
    margin-top: 7rem

.title
    font-size: 4rem
    line-height: 4.9rem
    text-shadow: -1px 0 $color-black, 0 1px $color-black, 1px 0 $color-black, 0 -1px $color-black

.button
    display: inline-block
    color: $color-white
    background-color: $dark-blue
    letter-spacing: 0.065em
    text-transform: capitalize
    text-shadow: -0.5px 0 $color-white, 0 0.5px $color-white, 0.5px 0 $color-white, 0 -0.5px $color-white
    border: none
    padding: 2rem 4rem

.radius
    border-radius: 60px

// HEADER

.main-header
    padding-top: 4.2rem
    margin-bottom: $mb-4

.nav-link
    text-shadow: -0.2px 0 $color-black, 0 0.2px $color-black, 0.2px 0 $color-black, 0 -0.2px $color-black

.navigation

    &__toggle
        display: none

    &__link
        text-shadow: -0.2px 0 $color-black, 0 0.2px $color-black, 0.2px 0 $color-black, 0 -0.2px $color-black

// SECTION HERO

.hero
    margin-bottom: 3.3rem
    overflow: hidden
    padding-bottom: 105px

    &__title
        margin-bottom: $mb-4
        text-transform: capitalize

    &__img
        max-width: 75.4rem
        transform: translate(3rem, 0px)
        border-radius: 0px 0px 0px 20rem

    &__info
        @include font16-line26-color1
        width: 95%
        margin-bottom: 3.3rem

    &__button
        font-size: 2rem
        line-height: 2.5rem
        position: relative

        &::before
            @include content-position
            @include dots-background
            top: 25px
            left: -48px
            background-image: -webkit-repeating-radial-gradient(center center, $color-grey, $color-grey 4px, transparent 1px, transparent 100%)
            background-image: -moz-repeating-radial-gradient(center center, $color-grey, $color-grey 4px, transparent 1px, transparent 100%)
            background-image: -ms-repeating-radial-gradient(center center, $color-grey, $color-grey 4px, transparent 1px, transparent 100%)
            background-image: repeating-radial-gradient(center center, $color-grey, $color-grey 4px, transparent 1px, transparent 100%)

.img-wrapper
    position: relative

    &::before,
    &::after
        @include content-position

    &::before
        @include round-shape
        top: 0px
        left: -30px

    &::after
        @include square-shape
        bottom: -100px
        right: 0px

// SECTION CLIENTS

.clients
    margin-bottom: 4.4rem

    &__title
        margin-bottom: 1.7rem
        text-transform: capitalize

    &__info
        @include font18-line29-color2
        width: 90%

    &__img_amazon
        margin-top: 23px

// SECTION HELP

.help
    margin-bottom: 9.6rem
    overflow-x: hidden

    &__title
        margin-bottom: 3rem
        position: relative

        &::before
            @include content-position
            @include square-shape
            transform: rotate(180deg)
            top: -55px
            left: -40px

    &__info
        @include font16-line26-color1
        position: relative

        &::before
            @include content-position
            @include dots-background
            top: 177px
            left: -8px
            background-image: -webkit-repeating-radial-gradient(center center, $light-blue-2, $light-blue-2 4px, transparent 1px, transparent 100%)
            background-image: -moz-repeating-radial-gradient(center center, $light-blue-2, $light-blue-2 4px, transparent 1px, transparent 100%)
            background-image: -ms-repeating-radial-gradient(center center, $light-blue-2, $light-blue-2 4px, transparent 1px, transparent 100%)
            background-image: repeating-radial-gradient(center center, $light-blue-2, $light-blue-2 4px, transparent 1px, transparent 100%)
            z-index: -3

.subtitle
    @include font24-line30-black
    text-transform: capitalize

.cards
    position: relative
    padding: 50px 0

    &::before,
    &::after
        @include content-position

    &::before
        top: 190px
        left: -155px
        width: 104.7rem
        height: 61.9rem
        background: $light-blue-4
        border-radius: 150px 0px 0px 0px
        z-index: -2

    &::after
        @include round-shape-border
        bottom: 75px
        right: 39px
        z-index: -3

.card
    border: 1px solid $color-grey-2
    box-shadow: 0px 1rem 5rem rgba($color-black, 0.05)
    background-color: $color-white
    border-radius: 40px
    width: 30.8rem
    height: 37.9rem
    padding: 3.9rem 3rem 5.7rem
    position: relative

    &__icon
        font-size: 7.4rem

        &_blue
            color: $dark-blue

        &_peach
            color: $dark-peach

        &_pink
            color: $dark-pink

        &_green
            color: $dark-green

        &-box
            width: 121px
            height: 121px
            border-radius: 20px
            margin-bottom: 3.1rem

            &_blue
                background-color: $light-blue-3

            &_peach
                background-color: $light-peach

            &_pink
                background-color: $light-pink

            &_green
                background-color: $light-green

    &__subtitle
        width: 80%
        text-align: center
        text-shadow: -0.3px 0 $color-black, 0 0.3px $color-black, 0.3px 0 $color-black, 0 -0.3px $color-black
        margin-bottom: 2.7rem

    &__info
        font-size: 1.6rem
        line-height: 2.2rem
        text-align: center
        color: $color-font-2

// SECTION PROMO

.promo
    margin-bottom: 18.1rem

    &__left
        margin-right: 12rem
        position: relative

        &::before
            @include content-position
            @include round-shape
            background-color: $light-peach
            bottom: -57px
            right: -40px

    &__img
        box-shadow: 10px 20px 50px rgba($color-black, 0.15)
        border-radius: 32px

    &__right
        position: relative

        &::before
            @include content-position
            @include square-shape
            background-color: $light-blue-5
            top: -23px
            left: -31px

    &__info
        @include font16-line26-color1

// SECTION REVIEWS

.reviews
    margin-bottom: 3.8rem

    &__title
        text-align: center
        margin-bottom: 1.7rem

    &__info
        @include font18-line29-color2
        text-align: center
        margin-bottom: 8.3rem
        position: relative

        &::before
            @include content-position
            @include dots-background
            bottom: -222px
            left: 230px
            width: 196px
            height: 154px
            background-image: -webkit-repeating-radial-gradient(center center, $color-grey, $color-grey 4px, transparent 1px, transparent 100%)
            background-image: -moz-repeating-radial-gradient(center center, $color-grey, $color-grey 4px, transparent 1px, transparent 100%)
            background-image: -ms-repeating-radial-gradient(center center, $color-grey, $color-grey 4px, transparent 1px, transparent 100%)
            background-image: repeating-radial-gradient(center center, $color-grey, $color-grey 4px, transparent 1px, transparent 100%)

    &__img
        width: 38.9rem
        height: 38.9rem
        border: none
        border-radius: 500px 0px 500px 500px
        box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15)
        object-fit: cover
        margin-right: 67px

    &__slider
        width: 53%
        text-align: left

        p
            @include font16-line26-color1
            width: 87%

    &__subtitle
        margin: 85px 0 21px 12px
        text-shadow: -0.4px 0 $color-black, 0 0.4px $color-black, 0.4px 0 $color-black, 0 -0.4px $color-black

.swiper
    -webkit-user-select: none
    user-select: none
    transform: translateX(-60px)

    &-button-next,
    &-button-prev
        display: none !important

    &-wrapper
        height: 47.5rem !important
        padding-left: 60px
        padding-top: 30px

    &-slide
        display: flex !important
        position: relative

        &::before
            @include content-position
            @include round-shape-border
            bottom: 90px
            left: -25px
            z-index: -1

    &-pagination
        bottom: 165px !important
        left: 235px !important

        &-bullet
            width: 16px !important
            height: 16px !important
            margin: 0 13px !important
            background: $light-blue-2 !important
            opacity: 1 !important

            &-active
                background: $dark-blue !important

.people
    position: relative

    &__img
        border-radius: 50%
        object-fit: cover
        position: absolute

        &_2,
        &_7
            width: 98px
            height: 98px

        &_2
            top: -190px
            left: 0px

        &_3,
        &_6,
        &_8
            width: 68px
            height: 68px

        &_3
            top: -242px
            left: 133px

        &_4,
        &_5
            width: 54px
            height: 54px

        &_4
            top: -180px
            left: 246px

        &_5
            top: -95px
            left: 290px

        &_6
            top: -20px
            left: 222px

        &_7
            top: 5px
            left: 95px

        &_8
            top: -50px
            left: 0px

        &_9
            width: 120px
            height: 120px
            top: -140px
            left: 119px

    &::before
        @include content-position
        @include round-shape
        width: 18.4rem
        height: 18.4rem
        background-color: $light-peach
        top: -125px
        left: 20px

// SECTION SUBSCRIBE

.subscribe
    margin-bottom: 14.6rem

    &__light
        text-align: end
        width: 100%
        height: 29.2rem
        background-color: $light-blue-4
        border-radius: 75px
        padding-left: 8rem
        position: relative

        &::before,
        &::after
            @include content-position

        &::before
            @include square-shape
            top: 150px
            left: -40px
            transform: rotate(90deg)

        &::after
            @include dots-background
            top: -65px
            right: -40px
            width: 175px
            height: 154px
            background-image: -webkit-repeating-radial-gradient(center center, $light-blue-6, $light-blue-6 4px, transparent 1px, transparent 100%)
            background-image: -moz-repeating-radial-gradient(center center, $light-blue-6, $light-blue-6 4px, transparent 1px, transparent 100%)
            background-image: -ms-repeating-radial-gradient(center center, $light-blue-6, $light-blue-6 4px, transparent 1px, transparent 100%)
            background-image: repeating-radial-gradient(center center, $light-blue-6, $light-blue-6 4px, transparent 1px, transparent 100%)

    &__dark
        background: url(../img/subscribe-bg.png) center/cover no-repeat
        width: 498px
        padding-right: 9.2rem

    &__info
        text-align: left

    &__title
        text-transform: capitalize
        margin-bottom: 1.7rem

    &__text
        @include font18-line29-color2

    &__button
        @include font16-line2
        position: absolute
        top: 11px
        right: 57px

    &__search
        position: relative

        input
            width: 47.9rem
            padding: 3rem 3.4rem
            border: 1px solid $color-input
            box-shadow: 10px 20px 50px rgba($color-black, 0.15)
            transform: translateX(-43px)

.search
    @include font16-line2
    color: $color-font-3

    label
        position: absolute
        clip: rect(0 0 0 0)

// FOOTER

.main-footer .container
    border-top: 1px solid $color-grey-3
    border-bottom: 1px solid $color-grey-2
    padding-top: 6.3rem
    padding-bottom: 2.9rem

.main-footer

    &__info
        font-size: 1.4rem
        line-height: 2.2rem
        color: $color-font-1
        margin-bottom: 4rem

    &__logo
        margin-bottom: 2.4rem

.socials
    width: 50%

    &__icon
        font-size: 36px

    &__link
        display: flex
        align-items: center
        justify-content: center
        width: 36px
        height: 36px
        border-radius: 50%

        &_facebook
            background-color: $color-facebook

        &_twitter
            background-color: $color-twitter

        &_linkedin
            background-color: $color-linkedin

.list
    text-transform: capitalize

    &__what-we-do
        padding-left: 10.5rem

    &__company,
        padding-left: 6rem

    &__title
        text-shadow: -0.4px 0 $color-black, 0 0.4px $color-black, 0.4px 0 $color-black, 0 -0.4px $color-black
        margin-bottom: 2.4rem

        a
            font-size: 20px
            line-height: 25px

    &__link
        font-size: 1.4rem
        line-height: 2.8rem

// MEDIA QUERIES

@media (max-width: 1199px)

    .container
        width: 960px

    html
        font-size: 61%

    .hero

        &__img
            max-width: 60rem

        &__button::before
            width: 30rem
            height: 13rem

    .help__info::before
        height: 14rem
        top: 195px

    .reviews
        margin-bottom: 14rem

        &__img
            width: 20rem
            height: 20rem
            margin-right: 75px

        &__info
            margin-bottom: 7rem

            &::before
                bottom: -207px
                left: 42px

        &__subtitle
            margin: 0px 0 21px 12px

        &__slider p
            width: 90%

    .people
        margin-top: 70px

    .swiper

        &-pagination
            bottom: 64px !important
            left: 134px !important

        &-wrapper
            height: 30.5rem !important

        &-slide::before
            width: 7rem
            height: 7rem
            bottom: 100px

    .subscribe

        &__info
            width: 43%

        &__dark
            width: 484px

        &__search input
            transform: translateX(10px)

        &__button
            right: 2px

    .list

        &__what-we-do,
        &__company,
        &__support
            padding-left: unset

@media (max-width: 991px)

    .container
        width: 720px

    html
        font-size: 60%

    .hero
        text-align: center
        margin-bottom: 5rem

        &__info
            margin: 0 auto 3.3rem

    .img-wrapper

        &::before
            left: 0px

        &::after
            right: 5px

    .clients
        margin-bottom: 10rem

        &__info
            margin: 0 auto
            text-align: center

        &__logo
            height: 15rem

    .clients__title,
    .help__title,
    .help__info
        text-align: center

    .help
        overflow-x: visible
        margin-bottom: 9.6rem

        &__info::before
            width: 38rem
            top: 75px
            left: 80px

    .cards::before
        width: 93rem

    .promo
        margin-bottom: 12rem

    .people
        display: none

    .reviews

        &__info
            margin-bottom: 5rem

        &__slider
            text-align: center

            p
                width: 100%

        &__info::before
            left: 115px
            bottom: -190px

    .swiper
        margin-left: unset !important
        transform: translateX(0px)

        &-wrapper
            height: 28rem !important

        &-slide::before
            bottom: 76px

        &-pagination
            bottom: 10px !important
            left: 25px !important

            &-bullet
                margin: 0 30px !important

    .subscribe

        &__light
            padding-left: unset

        &__dark
            margin: 0 auto
            background: none
            width: 0px
            padding-right: unset

        &__info
            width: 100%
            text-align: center

        &__search input
            transform: translateX(0px)

        &__button
            right: 12px

    .socials
        width: 100%

@media (max-width: 767px)

    .container
        width: 540px

    html
        font-size: 59%

    .main-header
        margin-bottom: $mb-5

    .hero,
    .clients,
    .help,
    .promo,
    .reviews,
    .subscribe
        margin-bottom: $mb-9

    .help
        &__info::before
            height: 13rem
            top: 98px
            left: 70px

    .img-wrapper,
    .cards::before
        display: none

    .hero
        padding-bottom: 20px

        &__title
            margin-bottom: 2rem

        &__button::before
            top: -40px

    .card
        width: 27rem
        height: 30rem
        padding: 2rem 2rem 3rem
        justify-content: space-between

        &__icon
            font-size: 5rem

        &__subtitle
            margin-bottom: 1rem

        &__icon-box
            width: 75px
            height: 75px
            margin-bottom: 1rem

    .navigation

        &__button
            background: $color-grey
            width: 70px
            height: 70px
            border-radius: 50%
            position: fixed
            top: 20px
            right: 20px
            z-index: 100
            text-align: center
            cursor: pointer
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2)

        &__nav
            display: none
            height: 100vh
            width: 100%
            position: fixed
            top: 0
            right: 0
            z-index: 99
            opacity: 0
            transition: .3s all ease
            background-color: $color-grey

        &__list
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 100%

        &__item
            text-align: center

            &:not(:last-child)
                margin-bottom: 5rem

        &__link
            display: inline-block
            font-size: 3rem
            font-weight: 500
            letter-spacing: 4px
            text-transform: uppercase
            padding: 1rem 2rem
            transition: all .7s

        &__toggle:checked ~ &__nav
            display: block
            opacity: 1
            top: 0

        &__icon
            position: relative

            &,
            &::before,
            &::after
                width: 30px
                height: 2px
                background: $color-black
                display: inline-block

            &::before,
            &::after
                @include content-position
                left: 0
                transition: all .2s

            &::before
                top: -8px
            &::after
                top: 8px

        &__button:hover &__icon::before
            top: -10px

        &__button:hover &__icon::after
            top: 10px

        &__toggle:checked + &__button &__icon
            background: transparent

        &__toggle:checked + &__button &__icon::before
            top: 0
            transform: rotate(135deg)

        &__toggle:checked + &__button &__icon::after
            top: 0
            transform: rotate(-135deg)

    .promo

        &__left
            margin-right: unset
            margin-bottom: 7rem

            &::before
                display: none

        &__right
            text-align: center

    .swiper

        &-wrapper
            padding-left: unset

        &-button-next,
        &-button-prev
            display: block !important
            top: 265px !important

        &-slide
            align-items: center !important
            flex-direction: column !important

            &::before
                display: none

        &-wrapper
            height: 42rem !important

        &-pagination
            display: none !important

    .reviews

        &__img
            margin-right: unset
            margin-bottom: 30px

        &__subtitle
            margin: 0 auto 30px

        &__slider
            width: 70%

        &__info
            margin-bottom: 4rem

            &::before
                bottom: -176px
                left: 223px

    .list__what-we-do
        margin-bottom: 10rem

    .socials
        position: absolute
        width: 50%
        left: 50%
        transform: translate(-50%, 0)

@media (max-width: 575px)

    .container
        width: 100%

    html
        font-size: 58%

    .hero__button::before,
    .help__info::before
        display: none

    .hero

        &__info
            margin: 0 auto 2rem

    .clients

        &__logo
            width: 32rem
            margin: 0 auto

        &__img
            width: 110px

            &_amazon
                margin-top: 15px

    .help__title,
    .help__info
        width: 90%
        margin: 0 auto 2rem

    .cards
        flex-direction: column

        .flex-column
            margin: 0 auto 2rem

        &::after
            bottom: 0

    .promo__info,
    .reviews__info
        padding: 0 20px

    .reviews

        &__img
            width: 15rem
            height: 15rem

        &__info
            margin-bottom: 2rem

            &::before
                top: 60px
                left: 42px

        &__slider
            width: 100%
            padding: 0 20px

    .swiper

        &-wrapper
            height: 35rem !important

        &-button-next,
        &-button-prev
            top: 215px !important

    .subscribe

        &__light
            padding: 4rem 2rem
            height: 45rem
            position: relative

            &::before
                top: 285px

            &::after
                display: none

        &__text
            width: 90%
            margin: 0 auto

        &__search
            position: absolute
            top: 50%

            input
                width: 30rem
                padding: 2rem
                text-align: center

        &__button
            width: 180px
            top: 50%
            right: 0
            transform: translate(-50%, 140%)
            left: 50%

    .main-footer__info
        text-align: center
        margin-bottom: 12rem

    .socials
        transform: translate(-50%, -200%)

    .list__what-we-do
        margin-bottom: 5rem

    
